body{
    height: 100%;
    width: 100%;
    background-color: rgb(173, 168, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    height: 400px;
    width: 400px;
    background-color: white;
    margin-top: 30vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows:repeat(24, 1fr) ;
}
.head{
    background-color: rgb(31, 129, 164);
}
.snakebody{
    background-color: rgb(44, 133, 165);
}

.food{
    background-color: crimson;
}